@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

.rbc-today {
  background-color: rgba(255, 255, 255, 0.2) !important;
  border: 2px solid #3b82f6 !important;
  color: black !important; 
}

.dark .rbc-today {
  background-color: rgba(0, 0, 0, 0.4) !important; 
  border: 2px solid #60a5fa !important;
  color: white !important; 
}

.rbc-date-cell {
  color: black !important;
}

.dark .rbc-date-cell {
  color: rgb(18, 5, 5) !important;
}

.rbc-event {
    font-size: 0.7rem !important; 
    padding: 2px !important;   
    white-space: normal !important; 
    overflow: visible !important; 
    text-overflow: unset !important;
    line-height: 1.1 !important;   
    max-height: 2.2em;             
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  user-select: none;
  touch-action: pan-y;
}

.slick-slide {
  display: flex !important;
  justify-content: center;
}

.slick-slide > div {
  width: 100%;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex !important;
  gap: 1rem; /* spacing între slide-uri */
}


